body{
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}
#body-header{
    height: 55vh;
    background-image: url(./2.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
padding-top: 1.2rem;
opacity: 0.8;
}
.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    text-align: center;
}
.horizontal-list li{
display: inline-block;
margin: 0px 8px 8px 0px;
font-weight: 100;
font-size: 1.1rem;
}
.horizontal-list li a{
    color: white;
    text-decoration: none;
    text-align: center;
}
.horizontal-list li a:hover{
color: lightgray;
border-bottom: 1px solid rgb(8, 8, 8);
transition: color 0.8s, border-bottom 3s;
}
.text-center{
    text-align: center;
}
#name-social-container{
   margin: 15vh; 
}
#my-name{
    font-size: 3rem;
    letter-spacing: 0.4rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.social-icons{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    text-align: center;
}
.social-icons li{
    display: inline-block;
margin: 0px 8px 8px 0px;
font-weight: 100;
font-size: 1.1rem;
}
.social-icons li a{
    color: white;
    text-decoration: none;
    text-align: center;
}
.social-icons li a i{
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 50%;
}
.social-icons li a i:hover{
     box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
     transition: 0.8s;
 }
 #about{
    width: 100%;
    position: relative;
 }
 #logo {
    height: 15rem;
    width: 15rem;
    margin: auto;
    margin-top: -15vh;
 }
#logo img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgray;
 }
 #about-para{
  padding: 20px;
    width: 50%;
    text-align: justify;
    color: grey;
    line-height: 30px;
    font-size: 1.2rem;
    margin: auto;
 }
 .text-highlight{
    color: blue;
    font-weight: 700;
 }
 #skills{
    height: 40vh;
    background-color: rgb(233, 232, 232);
 }
 .logo-skills{
    text-align: center;
    color: #053080;
    padding: 60px;
 }
 .skills-display{
    width: 50%;
    margin-bottom: 30px;
    margin-left: 25%;
    display:flex;
   justify-content:space-evenly;
 }
 .skills-progress{
    width: 11rem;
    background-color: lightgray;
    height: 2.2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9;
 }
 .skills-progress > div{
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989880;
 }
 .skill-name{
    color: white;
    font-size: 1.3rem;
    margin-left: 10px;
   padding-top: 6px;
 }
 .mb-blue{
    background-color: #3474eb;   
 }
 .ninty-percent{
    height: inherit;
    width: 90%;
 }
 .Eighty-percent{
   height: inherit;
    width: 80%;
 }
 .mb-blueviolet{
background-color: blueviolet;
 }
 .seventy-percent{
   height: inherit;
   width: 70%;
 }
 .mb-orange{
   background-color: orangered;
 }
 .mb-green{
   background-color: green;
 }
 .mb-brown{
   background-color: brown;
 }
 .Eightyfive-percent{
   height: inherit;
   width: 85%;
 }
 .mb-cyan{
   background-color: cyan;
 }

